---
import { useState } from 'react';
import Editor from '@monaco-editor/react';

interface Props {
  initialValue: string;
}

const { initialValue } = Astro.props;
const [code, setCode] = useState(initialValue);

<div class="h-full">
  <Editor
    height="100%"
    defaultLanguage="javascript"
    defaultValue={initialValue}
    onChange={(value) => setCode(value)}
    theme="vs-dark"
    options={{
      minimap: { enabled: false },
      fontSize: 14,
      wordWrap: 'on'
    }}
  />
</div>
